.App {
  text-align: center;
  width: 80%;
  height: 90%;
  border: 1px solid white;
  margin: auto;
}

.App-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
} 
.title-content{
  border: 1px solid white;
  width: 50vh;
  height: 80vh;
  font-size: 1rem;
}

.mid-content{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 10%;
}

.explain{
  width:80%;
}